<p style="color: green"><%= notice %></p>

<% content_for :title, "Jobs" %>


<div class="container-fluid" style="background-image: url('https://t1.uc.ltmcdn.com/es/posts/7/6/8/cuales_son_los_estados_de_la_mar_15867_orig.jpg');background-size: cover;background-position: center;
      background-repeat: no-repeat;width: 100%;height: 100vh;">
  
  

<div class="float-end"><a class="btn btn-link" href="/users/sign_in">Ingreso</a></div><br>
  
</div>

